img{
    height: 50%;
    width: 100%;
    padding: 2%;
}
h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(197, 114, 6);
    text-align: center;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkolivegreen;
    text-align: center;
}


<!--About Page-->

body{
    background-color: aquamarine;
}